<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Firmeninfos</title>
<link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css" />
</head>
<body>
	<div id="zentrieren" class="topfield"> 
    	<table width="1600px">
        	<tr>
            	<td width="80%">
                 <img src="../../css/bilder/Logo.jpg" class="bild"/>
                </td>
                <td width="20%">
                	<p class="headschrift"> World of Video <br /> Spengergasse 20 <br /> 1050 Wien <br /> AUSTRIA </p>
                </td>
            </tr>
            </table>
    </div>
	 <div id="zentrieren" class="menu">	
            	  <div id="zentrieren" class="menud">	
   	 <ul id="cssmenu">
 		 <li><a href="../../css/HTML/Index.html" class="active"><span>&Uuml;bersicht</span></a></li>
		 <li><a href="../../alleProdukte"><span>Alle Produkte</span></a></li>
  		 <li><a href="../../login"><span>Login</span></a></li>
		 <li><a href="../../css/HTML/Firma.html"><span>Firmeninformation</span></a></li>
		  <li><a href="../../produkt/add"><span>Neues Produkt</span></a></li>
	</ul> 
    </div>
       <div id="zentrierenHaupt" class="text">
       <!--Textteil -->
      <center>
      <H3>Timeline</H3>
       </center>
       <ul>
       <li>1996: Gegr&uuml;ndet</li>
      	Schon bei unserer Geburt wussten wir das wir eine Firma gr&uuml;nden wollten, <br> und so ist es dann auch gekommen. <br> Im Dezember 1996 gr&uuml;ndeten wir im durchschnittlichen Alter von 10 Tagen (Juli 96 und April 97) <br> die OG World of Video. 
       </ul>
       <ul>
       <li>2000: Erster Mitarbeiter </li>
       Aufgrund mangelnder Gewinne stellten wir nach 4 Jahren unseren ersten Mitarbeiter an. <br> Doch die dadurch erwarteten Ertr&auml;ge blieben aus unerfindlichen Gr&uuml;nden aus.
       </ul>
       <ul>
       <li>2013: AG</li>
       Nach 13 Jahren, mit starken &uuml;berlegungen hinsichtlich der Rechtsform, gingen wir am 8. Mai 2013 an die B&ouml;rse. <br> Leider verkauften wir bis heute noch keine einzige Aktie...
       </ul>
       <ul>
       <li>2017: erstes geplantes Projekt </li>
       Nach langen Verhandlungen (10 Jahre) konnten wir endlich ein erstes Projekt &uuml;ber 10 Euro an Land ziehen. Die Filmauslieferung wird 2017 abgeschlossen sein.
       </ul></div>
        	
</body>
</html>

