<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"></meta>
<title>Übersicht</title>
<link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css" />
</head>
<body>
	<div id="zentrieren" class="topfield"> 
    	<table width="1600px">
        	<tr>
            	<td width="80%">
                 <img src="../../css/bilder/Logo.jpg" class="bild"/>
                </td>
                <td width="20%">
                	<p class="headschrift"> World of Video <br /> Spengergasse 20 <br /> 1050 Wien <br /> AUSTRIA </p>
                </td>
            </tr>
            </table>
    </div>
	 <div id="zentrieren" class="menu">	
            	  <div id="zentrieren" class="menud">	
   	 <ul id="cssmenu">
 		 <li><a href="../../css/HTML/Index.html" class="active"><span>Übersicht</span></a></li>
		 <li><a href="../../alleProdukte"><span>Alle Produkte</span></a></li>
  		 <li><a href="../../login"><span>Login</span></a></li>
		 <li><a href="../../css/HTML/Firma.html"><span>Firmeninformation</span></a></li>
		  <li><a href="../../produkt/add"><span>Neues Produkt</span></a></li>
	</ul> 
    </div>
       <div id="zentrierenHaupt" class="text">
       <!--Textteil -->
      <center>
       <H2>Willkommen bei World of Video!</H2>
       <br />
       <img src="../../css/Bilder/indexB1.jpg" />
       </center></div>
        	
</body>
</html>