@CHARSET "ISO-8859-1";

    #zentrieren{
	width: 1475px;
	margin:auto;
	border-radius: 5px;}
	
	.bild{
	height:94px;
	margin: 10 10 10 10px;
	}
	
	.topfield{
	height:100px;
	background:#E90A0E;
	}
	
	.coloriert{
	font-weight: bold;
	width:198px;
	background: #c2c2c2;
	border-style: solid;
	border-width:1px;}
	
	.headschrift{
	font-size:13px;
	font-weight:bold;
	 color: #FFFFFF;
	}
	
	.siz{
	width:200px;
	border-style: solid;
	border-width:1px;}
	
	.size{
	border-style: solid;
	background: #c2c2c2;
	border-width:1px;}
	
	.displayProd{
	border-style: solid;
	background: #000;
	border-width:1px;}
	
	
	#zentrierenHaupt{
	width: 1455px;
	margin:auto;
	border-radius: 5px;
	}
	
	.text {
	background:#FFFFFF;
	height:600px;
	overflow: auto;
	padding-left:10px;
	padding-right:10px;
	}
	
	body {
	background:#ABABAB;
	}
	.menud{
	background:#E90A0E;
	}
}

#cssmenu {
  zoom: 1;
  width: auto;
  padding: 8px 0;
}
#cssmenu:before {
  content: '';
  display: block;
}
#cssmenu:after {
  content: '';
  display: table;
  clear: both;
}
#cssmenu ul {
  list-style-type: none;
  position: relative;
  display: block;
  font-size: 18px;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #7ab900;
  zoom: 1;
}
#cssmenu ul:before {
  content: '';
  display: block;
}
#cssmenu ul:after {
  content: '';
  display: table;
  clear: both;
}
#cssmenu li {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
}
#cssmenu li a {
  float: left;
  color: #FFFFFF;
  font-weight:bold;
  text-decoration: none;
  height: 24px;
  padding: 9px 15px 0;
  font-weight: normal;
}

#cssmenu li:hover a {
  color: #000;
}

