<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Produkte</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css" />
</head>
<body >
	<div id="zentrieren" class="topfield"> 
    	<table width="1600px">
        	<tr>
            	<td width="80%">
                 <img src="../../css/bilder/Logo.jpg" class="bild"/>
                </td>
                <td width="20%">
                	<p class="headschrift"> World of Video <br /> Spengergasse 20 <br /> 1050 Wien <br /> AUSTRIA </p>
                </td>
            </tr>
            </table>
    </div>
    <div id="zentrieren" class="menud">	
   	 <ul id="cssmenu">
 		 <li><a href="../../css/HTML/Index.html" class="active"><span>Übersicht</span></a></li>
		 <li><a th:href="@{/alleProdukte/}"><span>Alle Produkte</span></a></li>
  		 <li><a th:href="@{/login/}"><span>Login</span></a></li>
		 <li><a href="../../css/HTML/Firma.html"><span>Firmeninformation</span></a></li>
		 <li><a th:href="@{/produkt/}+'add'"><span>Neues Produkt</span></a></li>
	</ul>
    </div>
     <div id="zentrierenHaupt" class="text">
     <br/>
     <br />
     <br />
     <center>
	<table class="displayProd">
		<tr class="coloriert">
		<td class="siz">Name</td>
		<td class="siz">Beschreibung</td>
		<td class="siz">Preis</td>
		<td class="siz">Stück</td>
		<td class="siz">Betrachten</td>
	</tr>
    <tr class="size"  th:each="p : ${alleProdukte}">
    	<td class="siz" th:text="${p.name}"/>
    	<td class="siz" th:text="${p.kurzbesch}" />
    	<td class="siz" th:text="${p.preis}" />
    	<td class="siz" th:text="${p.anzahl}" />
    	<td class="siz"><a th:href="@{/produkt/}+${p.id}"> <div >Betrachten</div> </a></td>
    </tr> 
</table>
</center>
   <!-- <input type="text" th:field="${aktualpreis}" id="ap" name="ap"  disabled="disabled"/>  --> 
    
   
    </div>
</body>
</html>