<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login</title>

<link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css" />
</head>

<body onload="document.f.username.focus();">
<div id="zentrieren" class="topfield"> 
    	<table width="1600px">
        	<tr>
            	<td width="80%">
                 <img src="../../css/bilder/Logo.jpg" class="bild"/>
                </td>
                <td width="20%">
                	<p class="headschrift"> World of Video <br /> Spengergasse 20 <br /> 1050 Wien <br /> AUSTRIA </p>
                </td>
            </tr>
         </table>
    </div>
    <div id="zentrieren" class="menud">	
   	 <ul id="cssmenu">
 		 <li><a href="../../css/HTML/Index.html" class="active"><span>&Uuml;bersicht</span></a></li>
		 <li><a th:href="@{/alleProdukte/}"><span>Alle Produkte</span></a></li>
  		 <li><a th:href="@{/login/}"><span>Login</span></a></li>
		 <li><a href="../../css/HTML/Firma.html"><span>Firmeninformation</span></a></li>
		 <li><a th:href="@{/produkt/}+'add'"><span>Neues Produkt</span></a></li>
	</ul>
    </div>
    
    
     <div id="zentrierenHaupt" class="text">		
	<div class="container">
		<div class="content">
			<p th:if="${param.logout}" class="alert">You have been logged out</p>
			<p th:if="${param.error}" class="alert alert-error">There was an error, please try again</p>
			<h2>Bitte Einloggen!</h2>
			<form name="form" th:action="@{/login}" action="/login" method="POST">
					<input type="text" name="username" value="" placeholder="Username" />
					<input type="password" name="password" placeholder="Password" />
				<input type="submit" id="login" value="Login"
					class="btn btn-primary" />
			</form>
		</div>
	</div>
	</div>
</body>
</html>