<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Produkt anschauen</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css" />
</head>
<body>
    
    	<div id="zentrieren" class="topfield"> 
    	<table width="1600px">
        	<tr>
            	<td width="80%">
                 <img src="../../css/bilder/Logo.jpg" class="bild"/>
                </td>
                <td width="20%">
                	<p class="headschrift"> World of Video <br /> Spengergasse 20 <br /> 1050 Wien <br /> AUSTRIA </p>
                </td>
            </tr>
            </table>
    </div>
    <div id="zentrieren" class="menud">	
   	 <ul id="cssmenu">
 		 <li><a href="../../css/HTML/Index.html" class="active"><span>Übersicht</span></a></li>
		 <li><a th:href="@{/alleProdukte/}"><span>Alle Produkte</span></a></li>
  		 <li><a th:href="@{/login/}"><span>Login</span></a></li>
		 <li><a href="../../css/HTML/Firma.html"><span>Firmeninformation</span></a></li>
		 <li><a th:href="@{/produkt/}+'add'"><span>Neues Produkt</span></a></li>
	</ul>
    </div>
     <div id="zentrierenHaupt" class="text">
		<form action="" th:object="${produkt}" th:action="@{/produkteAnschaun} + ${produkt.id}" method="get">
			<table><tr><td>
			<label for="name">Name</label> </td><td>
			<input type="text" th:field="*{name}" id="name" name="Name" disabled="true"/> 
			</td></tr><tr><td>
			
			
			<label for="beschreibung" th:text="Beschreibung">Beschreibung</label></td><td>
			<input type="text" th:field="*{beschreibung}" id="beschreibung" name="Beschreibung" disabled="true"/>
			</td></tr><tr><td>
			
			<label for="anzahl" th:text="Stückanzahl">Anzahl</label></td><td>
			<input type="text" th:field="*{anzahl}" id="anzahl" name="anzahl" disabled="true"/>
			</td></tr><tr><td>
		
			
			<label for="preis" th:text="Preis">Preis</label></td><td>
			<input type="text" th:field="*{preis}" id="preis" name="preis" disabled="true"/>
			</td></tr></table>
			
</form>

	<form action="@{/produkt/}+${produkt.id}+'/kauf'" th:object="${produkt}" th:action="@{/produkt/}+${produkt.id}+'/kauf'" method="get">
		<input type="submit" value="Kaufen"/>
	</form>	
	
	
	<form action="@{/produkt/}+${produkt.id}+'/edit'" th:object="${produkt}" th:action="@{/produkt/}+${produkt.id}+'/make'" method="get">
		<input type="submit" value="Edit"/>
	</form>	
	
	<form action="@{/alleProdukte/}" th:action="@{/alleProdukte/}" method="get">
		<input type="submit" value="Alle Produkte"/>
	</form>	
	</div>
</body>
</html>