<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Produkt Bearbeiten</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css" />
</head>
<body>
    
    	<div id="zentrieren" class="topfield"> 
    	<table width="1600px">
        	<tr>
            	<td width="80%">
                 <img src="../../css/bilder/Logo.jpg" class="bild"/>
                </td>
                <td width="20%">
                	<p class="headschrift"> World of Video <br /> Spengergasse 20 <br /> 1050 Wien <br /> AUSTRIA </p>
                </td>
            </tr>
            </table>
    </div>
    <div id="zentrieren" class="menud">	
   	 <ul id="cssmenu">
 		 <li><a href="../../css/HTML/Index.html" class="active"><span>Übersicht</span></a></li>
		 <li><a th:href="@{/alleProdukte/}"><span>Alle Produkte</span></a></li>
  		 <li><a th:href="@{/login/}"><span>Login</span></a></li>
		 <li><a href="../../css/HTML/Firma.html"><span>Firmeninformation</span></a></li>
		 <li><a th:href="@{/produkt/}+'add'"><span>Neues Produkt</span></a></li>
	</ul>
    </div>
     <div id="zentrierenHaupt" class="text">
		<!-- Command object is the name Spring MVC gives to form-backing beans, th:object 
			http://www.thymeleaf.org/doc/tutorials/2.1/thymeleafspring.html#handling-the-command-object
		-->
		<form action="" th:object="${produkt}" th:action="@{/produkt/} + ${produkt.id}+'/edit?'" method="put">
			<table>
			<tr>
			<td>
			<label for="fname">Name</label> </td><td>
			<input type="text" th:field="*{name}" id="name" name="name" /> </td><td>
			<label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"> Name Error</label></td>
			</tr> 
			<tr>
			<td>
			<label for="beschreibung" th:text="Beschreibung">Beschreibung</label></td><td>
			<input type="text" th:field="*{beschreibung}" id="beschreibung" name="beschreibung" /></td><td>
			<label th:if="${#fields.hasErrors('beschreibung')}" th:errors="*{beschreibung}">Beschreibung Error</label></td>
			</tr> 
			<tr>
			<td>
			<label for="kurzbesch" th:text="Kurzbeschreibung">Kurzbeschreibung</label></td><td>
			<input type="text" th:field="*{kurzbesch}"	id="kurzbesch" value="kurzbesch" /> </td><td>
			<label th:if="${#fields.hasErrors('kurzbesch')}" th:errors="*{kurzbesch}">Kurzbesch Error</label></td>
			</tr> 
			<tr>
			<td>
			<label for="anzahl" th:text="Stückanzahl">Anzahl</label></td><td>
			<input type="text" th:field="*{anzahl}" id="anzahl" name="anzahl" /></td><td>
			<label th:if="${#fields.hasErrors('anzahl')}" th:errors="*{anzahl}">Anzahl Error</label></td>
			</tr> 
			<tr>
			<td>
			<label for="preis" th:text="Preis">Preis</label></td><td>
			<input type="text" th:field="*{preis}"	id="preis" value="preis" /> </td><td>
			<label th:if="${#fields.hasErrors('preis')}" th:errors="*{preis}">Preis Error</label></td>
			</tr> 
			<tr>
			<td>
			<input id = "submitNewpreis" type="submit" value="Übernehmen" /></td></tr></table>
			
		</form>
			<form action="@{/produkt/}+${produkt.id}" th:object="${produkt}" th:action="@{/produkt/}+${produkt.id}" method="get">
		<input type="submit" value="Abbrechen"/>
		
		
	</form>	
    </div>
</body>
</html>